[scripts]
docker-compose = "docker compose -f etc/compose.yml -p api"
docker-compose-dev = "bin/dev.sh"
docker-compose-prod = "pipenv run docker-compose --env-file ./etc/.env.production"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gitpython = "*"
python-gitlab = "*"
minio = "*"
uwsgi = "*"
psycopg2-binary = "*"
django-prometheus = "*"
sentry-sdk = "*"

[dev-packages]
pylint = "*"
mypy = "*"
locust = "*"
black = "*"
pytest-django = "*"
