[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gitpython = "*"
python-gitlab = "*"
minio = "*"
uwsgi = "*"
psycopg2-binary = "*"
django-prometheus = "*"

[dev-packages]
pylint = "*"
mypy = "*"
locust = "*"
black = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
